@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL RESET - Ye white patti hatayega */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Horizontal scroll band */
  background-color: #020202; /* Agar khali jagah bache to wo Black ho, White nahi */
  color: white;
}

/* Scrollbar Style (Optional - Professional Look) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020202;
}
::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 4px;
}